.products-container {
  max-width: 100%; /* Limitar el ancho máximo */
  margin: 0 auto; /* Centrar el contenedor */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333; /* Color del texto del encabezado */
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente los elementos */
  margin-bottom: 20px; /* Espaciado inferior para separación */
}

.left-buttons {
  display: flex; /* Alinear botones a la izquierda */
  gap: 10px; /* Espacio entre botones */
}

button {
  padding: 5px 10px; /* Botones más pequeños */
  border: none;
  border-radius: 5px; /* Bordes menos redondeados */
  cursor: pointer; /* Cambiar cursor al pasar por encima */
  transition: background-color 0.3s, transform 0.2s; /* Transición para el color y efecto hover */
  font-size: 0.9em; /* Tamaño de fuente más pequeño */
  min-width: 100px; /* Ancho mínimo de los botones */
}

button:hover {
  opacity: 0.9; /* Opción visual al pasar el cursor */
}

.search-container {
  display: flex;
  align-items: center; /* Centra verticalmente */
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px; /* Ancho del campo de búsqueda */
  margin-right: 5px; /* Espacio reducido entre el campo de búsqueda y el botón */
}

.search-button {
  background-color: transparent; /* Sin color de fondo */
  border: none; /* Sin borde */
}

.search-button img {
  width: 20px; /* Tamaño de la imagen del botón de búsqueda */
  height: auto; /* Mantener proporción */
}

.product-list {
  display: flex; /* Habilitar flexbox para los productos */
  flex-wrap: wrap; /* Permitir que los productos se envuelvan */
  gap: 20px; /* Espacio entre los contenedores de productos */
  justify-content: center; /* Centra los productos horizontalmente */
  margin-bottom: 20px; /* Espaciado inferior para separación */

}

.product-card {
  background-color: #fff; /* Fondo blanco para cada producto */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 31px;
  width: calc(
    16% - 20px
  ); /* Ancho del contenedor de producto (5 productos por fila) */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para los productos */
  display: flex;
  flex-direction: column; /* Organiza el contenido en columna */
  align-items: center; /* Centra el contenido horizontalmente */
}

.product-image {
  width: 150px; /* Ajusta el ancho fijo que desees */
  height: 150px; /* Ajusta la altura fija que desees */
  object-fit: cover; /* Recorta la imagen para que encaje en el contenedor sin deformarse */
  display: block; /* Asegura que sea un bloque */
  margin: 0 auto; /* Centra la imagen si es necesario */
}

.product-card h3 {
  margin: 10px 0; /* Espacio arriba y abajo del título */
  font-size: 1.2em; /* Aumentar el tamaño de la fuente del nombre */
}

.product-card p {
  margin: 5px 0; /* Espaciado para descripciones */
}

/* Colores específicos para los botones de producto */
.blue-button {
  background-color: #b8c9de; /* Color azul */
  color: black; /* Texto negro */
}

.blue-button:hover {
  background: #6e7c9d; /* Color azul más oscuro al pasar el cursor */
}

.edit-button {
  background-color: #7ed957; /* Verde */
  color: white; /* Texto blanco */

}

.edit-button:hover {
  background-color: #218838; /* Verde más oscuro al pasar el cursor */
}

.delete-button {
  background-color: #ff3131; /* Rojo */
  color: white; /* Texto blanco */
}

.delete-button:hover {
  background-color: #c82333; /* Rojo más oscuro al pasar el cursor */
}

.blue-button:hover,
.edit-button:hover,
.delete-button:hover {
  opacity: 0.9; /* Opción visual al pasar el cursor */
}

.button-group button {
  margin: 0 5px; /* Espacio entre botones de crear, volver y agregar imagen */
}
