<div class="products-container">
  <div class="button-group">
    <div class="left-buttons">
      <button (click)="navigateToinicio()" class="blue-button">Atrás</button>
      <button (click)="navigateToCreateProduct()" class="blue-button">
        Crear Producto
      </button>

      <button (click)="navigateToAddImage()" class="blue-button">
        Agregar Imagen
      </button>
    </div>

    <div class="search-container">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Buscar Producto"
      />
      <button (click)="onSearch()" class="search-button">
        <img src="/assets/images/lupa.png" alt="Buscar" />
      </button>
    </div>
  </div>

  <div class="product-list">
    <div *ngFor="let product of products" class="product-card">
      <img
        *ngIf="product.image"
        [src]="product.image"
        alt="{{ product.name }}"
        class="product-image"
      />
      <h3>{{ product.name }}</h3>
      <p>
        <strong>Precio: </strong> <strong>$</strong> {{ product.price }}
        <strong>COP</strong>
      </p>
      <p><strong>Disponibles:</strong> {{ product.amount }}</p>
      <p><strong>Descripción:</strong> {{ product.description }}</p>
      <div class="button-group">
        <button
          class="edit-button"
          (click)="navigateToEditProduct(product.id || 0)"
        >
          Editar
        </button>
        <button
          class="delete-button"
          (click)="confirmDeleteProduct(product.name)"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
