.capsula-marron {
  background-color: #6a4719; /* Marrón */
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  max-width: 400px;
  margin: 60px auto;
}

.capsula-tablero {
  background-color: #f0f0f0;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form div {
  margin-bottom: 15px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.phone-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.phone-prefix {
  position: absolute;
  left: 10px;
  color: #555;
  font-size: 16px;
  pointer-events: none;
  user-select: none;
}

input[type="text"]#phone {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.btn-save,
.btn-cancel {
  background-color: #7ed957;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

.btn-save:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.btn-cancel {
  background-color: #ff3131;
}

.btn-cancel:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

.alert {
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.alert.success {
  background-color: #d4edda;
  color: #155724;
}

.alert.error {
  background-color: #f8d7da;
  color: #721c24;
}

  