.start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-container {
    font: 50px 'Roboto', sans-serif;
    color: black;
    margin-top: -40px;
}

.img-container img {
    width: 390px;
    height: auto;
    margin-top: -90px;
}

.button-container {
    margin-top: 20px;
}

.button-container button {
    background-color: #4ca0af;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #525a53;
}