.capsula-marron {
  background-color: #6a4719; /* Marrón */
  padding: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* Cambiado para que no ocupe toda la pantalla */
  max-width: 500px; /* Limitar el ancho máximo del contenedor */
  margin: 50px auto; /* Centramos el contenedor con un margen superior e inferior */
}

.capsula-tablero {
  background-color: #f0f0f0; /* Color claro para la cápsula interna */
  padding: 40px;
  border-radius: 10px;
  width: 100%; /* Cambiado para ocupar el 100% del contenedor marrón */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form div {
  margin-bottom: 15px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.btn-save,
.btn-cancel {
  background-color: #7ed957; /* Cambiado el color de fondo por defecto de btn-cancel a verde */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s; /* Añadir transición para suavizar el cambio de color y efecto de "clic" */
  cursor: pointer; /* Cambiado para mostrar que es clickeable */
}

.btn-save:hover {
  background-color: #218838; /* Color más oscuro al pasar el puntero sobre guardar */
  transform: scale(1.05); /* Aumenta ligeramente el botón al pasar el puntero */
}

.btn-cancel {
  background-color: #ff3131; /* Color original para el botón de cancelar */
}

.btn-cancel:hover {
  background-color: #c82333; /* Color más oscuro al pasar el puntero sobre cancelar */
  transform: scale(1.05); /* Aumenta ligeramente el botón al pasar el puntero */
}
