<div>
  <button id="back" type="button" (click)="back()">Atrás</button> 

  <h2> Crear Cotizaciones</h2>
  <h4>Cree Cotizaciones Para Sus Clientes Facil y Rapido!!!!</h4>
  <div>
    <input type="text" [(ngModel)]="searchName" placeholder="Buscar Producto" />
    <button (click)="searchProducts()">Buscar</button>
  </div>

  <div *ngIf="searchResults.length > 0">
    <h3>Resultados de la búsqueda</h3>
    <ul>
      <li *ngFor="let product of searchResults">
        {{ product.name }} - Precio: $ {{ product.price }} <span>COP</span>
        
        <!-- Entrada para la cantidad -->
        <input id="xd" type="number" [(ngModel)]="product.quantity" placeholder="Cantidad" min="1" style="width: 70px;" />
        
        <button (click)="addProductToQuotation(product)">Agregar a Cotización</button>
      </li>
    </ul>
  </div>

  <div *ngIf="selectedProducts.length > 0">
    <h3>Productos Seleccionados para Cotización</h3>
    <ul>
      <li *ngFor="let product of selectedProducts">
        {{ product.name }} - Cantidad: {{ product.amount }} - Precio por unidad: ${{ product.price }} <span>COP</span>
      </li>
     
    </ul>
    <button (click)="generateQuotation()">Generar Cotización PDF</button>
  </div>
</div>
